@import "/src/assets/coloursheet";

button {
  background-color: $dark;
  border-radius: 5px;
  border: solid $primary 2px;
  color: $white;
  cursor: pointer;
  font-size: 1em;
  padding: 0.3rem 1rem;
  text-align: center;
}

button:hover {
  transition-duration: 0.1s;
  background-color: $grey;
}

button:disabled {
  background-color: $primary;
  cursor: default;
}

.round {
  border-radius: 50%;
  aspect-ratio: 1;
}

.submit {
  padding: 0.3rem 1.5rem;
  border-radius: 20%/50%;
}
